.ledger {
    margin: 20px 20px 20px 20px;
    width: 50%;
    text-align: center;
}

.pusher {
    height: 100vh
}

.tableContainer {
    margin: 20px 20px;
}

.update-department,
.update-employee {
    float: left;
}

.department-cell {
    width: 2vh;
}

.home {
    .content {
        margin-top: 50px;
    }
}

.header {
    .subcontent {
        margin-top: 50px;
        font-size: 3rem;
    }

    .subheader {
        padding-bottom: 40px;
        font-size: 2rem;
    }
}

.main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

    .main_button {
        

        .login_button {
            width: 6em;
            height: 2.5em;
        }
    }
}